@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply font-sans;
}

/* Device type classes for root element (#app) */
.device-mobile {
	/* Example: smaller font, different background */
	font-size: 16px;
	background: #f8fafc;
}
.device-tablet {
	font-size: 18px;
	background: #f1f5f9;
}
.device-desktop {
	font-size: 20px;
	background: #fff;
}
